{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>My CV</title>
    </head>
    <body>
        <a href="/">back to website</a>
        {% if cv %}
        <div class="cvContent">
        
            <div style="float: right;">
            <a class="btn btn-default" href="{% url 'cv_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        
            <center><h2>{{ cv.name|title }}</h2></center>
            <p style="float: right;margin-top: 0px;">Telephone: {{ cv.telephone}} <br> Mobile: {{ cv.mobile}}<br> Email: {{ cv.email}} </p>
            <p style="float: left;margin-top: 0px;">{{ cv.address|linebreaks }}</p>
            <h3 style="margin-top: 3%;">Personal Details</h3>
            <br>

            {% if cv.summary != "None" %}
            <div class="subTitle">
                Summary
            </div>
            <pre style="background: initial;border: initial;white-space: pre-wrap;">{{ cv.summary|linebreaks }}</pre>
            {% endif %}
            {% if cv.skills != "None" %}
            <div class="subTitle">
                Skills and Achievements
            </div>
            <pre style="background: initial;border: initial;white-space: pre-wrap;">{{ cv.skills|linebreaks }}</pre>
            {% endif %}
            {% if cv.education != "None" %}
            <div class="subTitle">
                Education and Qualifications
            </div>
            <pre style="background: initial;border: initial;white-space: pre-wrap;">{{ cv.education|linebreaks }}</pre>
            {% endif %}
            {% if cv.work != "None" %}
            <div class="subTitle">
                Work History
            </div>
            <pre style="background: initial;border: initial;white-space: pre-wrap;">{{ cv.work|linebreaks }}</pre>
            {% endif %}
            {% if cv.voluntary != "None" %}
            <div class="subTitle">
                Voluntary Experience
            </div>
            <pre style="background: initial;border: initial;white-space: pre-wrap;">{{ cv.voluntary|linebreaks }}</pre>
            {% endif %}
            {% if cv.interests != "None" %}
            <div class="subTitle">
                Interests
            </div>
            <pre style="background: initial;border: initial;white-space: pre-wrap;">{{ cv.interests|linebreaks }}</pre>
            {% endif %}
            {% if cv.referees != "None" %}
            <div class="subTitle">
                Referees
            </div>
            <pre style="background: initial;border: initial;white-space: pre-wrap;">{{ cv.referees|linebreaks }}</pre>
            {% endif %}
        </div>
        {% else %}
        <h2><center>There is no CV, create one <a href="new/">here</a></center></h2>
        {% endif %}
    </body>
</html>