{% extends 'blog/base.html' %}

{% block content %}
<div class="page-header">
            <span style="color: white;margin-top: 20px;float: left;font-size:26pt;cursor:pointer" onclick="openNav()">&#9776;</span>
            <h1><a href="/blog/">My Blog</a></h1>
 </div>
<div class="personal_details">

        <div class="editB">
            <a class="edit" href="{% url 'post_edit' pk=post.pk %}"><button class="edit btn btn-default">Edit</button></a>
        </div>
        

            <div class="details_frame" style="height: 160px;">
                <strong style="font-family: arial; margin-left: 30%;">Post Details:</strong>
                
                <p><b>Created:<br></b></p>
                <p>{{ post.created_date|date:"SHORT_DATE_FORMAT" }}</p>
                <p><b>Last Updated:<br></b></p>
                <p>{{ post.published_date|date:"SHORT_DATE_FORMAT" }}</p>
            </div>
</div>
<div class="content">
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date|timesince }} ago.
            </div>
        {% endif %}

        <h2>{{ post.title|title }}</h2>
        <hr>
        <pre style="background: initial;border: initial;white-space: pre-wrap;">{{ post.text|linebreaks }}</pre>
    </div>
</div>
{% endblock %}