{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <span style="color: white;margin-top: 20px;float: left;font-size:26pt;cursor:pointer" onclick="openNav()">&#9776;</span>
            <h1><a href="/blog/">My Blog</a></h1>
</div>
<div class="content">

    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.published_date|timesince }} ago.
                </div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}"> <b>{{ post.title|title }}</b></a></h2>
                <hr>
                <p>{{ post.text|truncatewords:10 }}</p>
            </div>
        {% endfor %}
    {% else %}
    <h1>More posts are coming soon</h1>
    {% endif %}
</div>
{% endblock %}